html{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
header{
    display: flex;
    justify-content: center;
}

.login_form{
    display: flex;
    justify-content: center;
}

/* HOME PAGE */

/* LOGIN PAGE START*/
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: green;
}
/* LOGIN PAGE END*/

/* ABOUT PAGE */