<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>List Employees</title>
</head>

<body>
    <div class="container">
        <h3>List Employees</h3>
        <hr/>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.department}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>