<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example Thymeleaf Project</title>
</head>
<body>
<form action="profile" method="post">
    <table>
        <!--ROW 1 USER NAME LABEL-->
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" name="name"/></td>
        </tr>
        <!--ROW 2 EMAIL LABEL-->
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="text" name="email"/></td>
        </tr>
        <!--ROW 3 SUBMIT BUTTON-->
        <tr>
            <td></td>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>