html {
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  margin: 0 250px;
  padding: 0;
  color: aliceblue;
}
/* HEADER CONTAINER*/
.header-container {
  margin: 0;
  padding: 0;
  display: flex;
}
.photo, img {
  margin: 3px;
  padding: 0;
  width: 200px;
  height: 250px;
}
.info {
  margin: 0;
  padding: 0;
  flex-grow: 2;
}
h1 {
  font-size: 350%;
}
.info h3 {
  background-color: black;
}
.general {
  margin: 0;
  padding: 0 15px;
  align-content: center;
}
.general h1 {
  font-size: 3em;
}
.bio {
  margin: 0;
  padding: 5px;
}

/*MASTER CONTAINER*/
.master-container {
  background-color: tan;
  margin: 15px auto;
  padding: 5px;

  display: flex;
  flex-wrap: wrap;
}
.red {
  background-color: red;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.blue {
  background-color: blue;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.green {
  background-color: green;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.yellow {
  background-color: yellow;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.brown {
  background-color: brown;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.black {
  background-color: black;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.gold {
  background-color: gold;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.silver {
  background-color: silver;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.grey {
  background-color: grey;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.white {
  background-color: white;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.violet {
  background-color: violet;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.orange {
  background-color: orange;
  margin: 8px;
  width: 200px;
  height: 200px;
}
