html {
  margin: 0;
  padding: 0;
  background-color: black;
}
body {
  margin: auto 250px;
  padding: 0;
  color: aliceblue;
  background-color: grey;
}
.info {
  margin: auto 10px;
  padding: 0;
}
.general {
  margin: 5px 0 0 0;
  padding: 5px;
  background-color: darkblue;
}
.bio {
  margin: 15px 0 0 0;
  padding: 5px;
  background-color: darkgrey;
}

/*flexbox css, keyframe and transition*/
.master-container {
  background-color: tan;
  margin: 15px auto;
  padding: 5px;

  display: flex;
  flex-wrap: wrap;
}
.red {
  background-color: red;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.blue {
  background-color: blue;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.green {
  background-color: green;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.yellow {
  background-color: yellow;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.brown {
  background-color: brown;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.black {
  background-color: black;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.gold {
  background-color: gold;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.silver {
  background-color: silver;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.grey {
  background-color: grey;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.white {
  background-color: white;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.violet {
  background-color: violet;
  margin: 8px;
  width: 200px;
  height: 200px;
}
.orange {
  background-color: orange;
  margin: 8px;
  width: 200px;
  height: 200px;
}
