html {
  margin: 0;
  padding: 0;
  background-color: #293462;
  color: #EC9B3B;
  /*web fonts content*/
  font-family: 'Nunito Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
/*NAVBAR START*/
nav{
  margin: 0;
  padding: 0 8px;
  display: flex;
  background-color: rgba(21, 19, 60, .3);
  align-items: start;
}
ul li{
  display: inline;
  list-style: none;
  padding-right: 8px;
}
/*NAVBAR END*/

/*HEADER START*/
header{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /*web fonts title*/
  font-family: 'Bebas Neue', cursive;
  background-color: rgba(21, 19, 60, .5);
}
/*HEADER END*/

/*CONTAINER START*/
.container{
  display: flex;
  flex-direction: column;
}
section {
  background-color: rgba(21, 19, 60, .5);
  margin: 15px 0;
  padding: 8px;
}
/*CONTAINER END*/

/*FOOTER START*/
footer{
  display: flex;
  justify-content: center;
  /*web fonts title*/
  font-family: 'Bebas Neue', cursive;
  background-color: rgba(21, 19, 60, .5);
}
/*FOOTER END*/
