<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-sringsecurity3">

<head>
    <title>Add Employees</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">

</head>

<body>
<div class="container">
    <h2> Add Employee</h2>
    <hr/>
    <form th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Enter Name" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{email}" placeholder="Enter Email" class="form-control col-4 mb-4"/>
        <input type="text" th:field="*{department}" placeholder="Enter Department" class="form-control col-4 mb-4"/>
        <button class="btn btn-primary btn-sm" type="submit">Save</button>
        <input type="hidden" th:field="*{id}"/>
    </form>
    <hr/>
    <a th:href="@{/list}" class="btn btn-primary btn-sm">Back to list</a>
</div>
</body>