<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
</head>
<body>
    <main>
        <h1>Create Customer</h1>
        <form th:object="${fromData}"
            th:action="@{customerapi/createCustomer}"
            method="POST">
            <!-- NAME -->
            <div>
                <label for="name">Name</label>
                <input id="name" type="text"
                th:field="*{name}">
            </div>
            <!-- ADDRESS -->
            <div>
                <label for="address">Address</label>
                <input id="address" type="text"
                th:field="*{address}">
            </div>
            <!-- PHONE -->
            <div>
                <label for="phonr">Phone</label>
                <input id="phone" type="text"
                th:field="*{phone}">
            </div>
            <!-- STATE -->
            <div>
                <label for="state">State</label>
                <input id="state" type="text"
                th:field="*{state}">
            </div>
        </form>
    </main>
</body>
</html>