<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>View Page</title>
</head>
<body>
    <h2>Customer List</h2>
    <!-- name -->
    <label for="name">Name:</label>
    <span id="name" th:text="${name}"></span><br>
    <!-- address -->
    <label for="address">Address:</label>
    <span id="address" th:text="${address}"></span><br>
    <!-- phone -->
    <label for="phone">Phonr:</label>
    <span id="phone" th:text="${phone}"></span><br>
    <!-- state -->
    <label for="state">State:</label>
    <span id="state" th:text="${state}"></span><br>
</body>
</html>