<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>JMA ABOUT</title>
</head>
<body>
    <!-- NAV START -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Aircraft Status</a></li>
            <li><a href="#">Order</a></li>
        </ul>
    </nav>
     <!-- NAV END -->

    <!-- HEADER START -->
    <header><strong><h1>ABOUT HEADER</h1></strong></header>
    <!-- HEADER END -->

    <!-- ABOUT SECTION START-->
    <section class="about">
        <p>
            <strong><h2>Integrity First</h2></strong>
        </p>
        <br>
        <p>
            <strong><h2>Service Before Self</h2></strong>
        </p>
        <br>
        <p>
            <strong><h2>Excellence In All You Do</h2></strong>
        </p>
    </section>
    <!-- ABOUT SECTION END-->

    <!-- FOOTER START -->
    <footer><strong><h1>ABOUT FOOTER</h1></strong></footer>
    <!-- FOOTER END -->
</body>
</html>