<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:action="@{/aircraftform/postForm}" th:object="${taco}" method="post">
            <tr>
                <td>
                    AIRCRAFT ID
                </td><br>
            </tr>
            <!-- aircraft name-->
            <tr>
                <td><label for="input" >aircraft name</label></td>
                <td><input th:field="*{aircraftName}" id="input" type="text" placeholder="name of aircraft"></td><br>
            </tr>
            <!-- aircraft model -->
            <tr>
                <td><label for="input">aircraft model</label></td>
                <td><input th:field="*{aircraftModel}" type="text" placeholder="model of aircraft"></td><br>
            </tr>
            <!-- submit-->
            <tr><td><input type="submit"></td></tr>
        </form>
    </div>

<table>
    <tr th:each="aircraftPartInventoryEntity : ${aircraftPartInventoryEntities}">
        <td th:text="${aircraftPartInventoryEntity.aircraftName}">
        </td>
    </tr>
</table>
</body>
</html>