<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:action="@{/aircraftform}" th:object="${aircraftPartInventoryEntity}" method="post">
            <tr>
                <td>
                    Id
                </td><br>
            </tr>
            <!-- aircraft name-->
            <tr>


            </tr>
            <!-- submit-->
            <tr><td><input type="submit"></td></tr>
            
        </form>
    </div>

<table>
    <tr th:each="aircraftPartInventoryEntity : ${aircraftPartInventoryEntities}">
        <td th:text="${aircraftPartInventoryEntity.aircraftName}">

        </td>
    </tr>
</table>
</body>
</html>