<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JMA REGISTER</title>
</head>

<body>
    <!-- NAV START -->
    <nav th:>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Aircraft Status</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Aircraft Ordering System</a></li>
        </ul>
    </nav>
    <!-- NAV END -->

    <!-- HEADER START -->
    <header><strong>
            <h1>REGISTER HEADER</h1>
        </strong></header>
    <!-- HEADER END -->

    <!-- REGISTER FORM -->

    <!-- FOOTER START -->
    <header><strong>
            <h1>REGISTER FOOTER</h1>
        </strong></header>
    <!-- FOOTER END -->
</body>

</html>